{% extends 'user/base.user.html.twig' %}

{% block title %}AIRstagram{% endblock %}

{% block body %}
    <div class="row white-bg page-heading text-center" style="width: 90.4% ;margin-left: 1.2%">
        <div class="col-lg-12">
            {% block courant %}
                <span class="col-md-6 justify-content-center h2 "> Mes Images</span>
                <div class="col-sm-8 justify-content-center" style="margin-left: 36.5%">
                    <form class="form-inline" action="{{ path('trie') }}" method="post">
                        <div class="form-group"style="margin-left: 5.5%;width: 55%" >
                            <select name="select"
                                    class="form-control">
                                <option value="nom">Trier par Nom</option>
                                <option value="date">Trier par Date</option>
                            </select>
                            <a href="{{ path('trie') }}">
                                <button class="btn btn-primary fa fa-search"></button>
                            </a>
                        </div>
                    </form>

                </div>
            {% endblock %}
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <!-- menu droite-->
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>Affichage:</h5>
                            <a href="{{ path('albums') }}" class="file-control">Albums</a>
                            <a href="{{ path('photos') }}" class="file-control">Photos</a>
                            <div class="hr-line-dashed"></div>
                            <a href="{{ path('photo_new') }}">
                                <button class="btn btn-primary btn-block" data-toggle="modal"
                                        data-target="#addPhoto">Ajouter Photo
                                </button>
                            </a>
                            <div class="hr-line-dashed"></div>
                            <h5>ALBUMS</h5>

                            <ul class="folder-list" style="padding: 0">
                                {% for album in getAlbum(app.user.email) %}
                                <li>
                                    <a href="{{ path('album_show',{ id: album.id}) }}"><i
                                                class="fa fa-folder"></i> {{ album.libelle }}</a>
                                </li>
                                {% endfor %}

                                <li>
                                    <a href="{{ path('album_favorie') }}">
                                        <i class="fa fa-star"></i>Favoris
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-block" data-toggle="modal"
                                    data-target="#addAlbum">Ajouter Album
                            </button>
                            <h5 class="tag-title">Tags</h5>
                            <ul class="tag-list" style="padding: 0">
                                {% for tag in tag() %}
                                    <li><a href="{{ path('tag',{id: tag.id }) }}">{{ tag.libelle }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end  menu droite-->
            <div class="col-8 animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- layaout user-->
                        {% block photo %}
                            <div class="row">
                                <div class="card  w-100">
                                    <div class="card-body text-center">
                                        <div class="col-lg-12">
                                            {% if photos is empty %}
                                        </div>
                                        <div class="container text-center">
                                            Vous n'avez pas d'image dans votre compte
                                        </div>
                                        {% else %}
                                            {% for photo in photos %}
                                                <div class="file-box">
                                                    <div class="file">
                                                        <a href="#" data-toggle="modal" data-target="#modal{{ photo.id }}">
                                                            <span class="corner"></span>
                                                            <div class="image">
                                                                <img alt="image" class="img-fluid" src="../../images/photos/{{ photo.image }}">
                                                            </div>
                                                            <div class="file-name">
                                                                <small class="text-uppercase"> {{ photo.description| u.truncate(15, '...',true) }}</small>
                                                            </div>
                                                            <div class="file-name">
                                                                <small>Date d'Ajout: {{ photo.createdAt| date('d/m/y :H-m-s') }}</small>
                                                            </div>
                                                        </a>
                                                        <form method="post" action="{{ path('photo_archiver', {'id': photo.id}) }}"
                                                              onsubmit="return confirm('Voulez-vous supprimer cette photo?');">
                                                            <input type="hidden" name="_method" value="PUT">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                                                            <button class="btn"><i class="fa fa-lg fa-trash" style="color: #ff0000"></i>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="coment">
                                                    {% include('user/detail.image.html.twig') %}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="card-footer justify-content-center">
                                    <div class="pagination justify-content-center ">
                                        {{ knp_pagination_render(photos) }}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        <!-- end layaout user-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  modal add photo et add album-->
    <div class="container">
        <div class="row animated fadeInRight">
            <div class="col-md-8">
                <!--  modal add  add album-->
                <div class="modal inmodal fade" id="addAlbum" tabindex="-1" role="dialog"
                     style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg animated flipInY">
                        <div class="modal-content">
                            <div id="resultat" class="alert alert-success">
                                sucess
                            </div>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">×</span><span
                                            class="sr-only">Fermer</span></button>
                                <h4 class="modal-title">crée un album </h4>

                                <div class="modal-body">
                                    <div class="col">
                                        <div class="ibox border-bottom">
                                            <div class="ibox-content">
                                                <form>
                                                    <label for="nom">Nom de votre album</label>
                                                    <input type="text" id="nom" class="form-control"
                                                           placeholder="nom de votre album">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" id="enregistrer">
                                        Enregistrer
                                    </button>
                                    <button type="button" class="btn btn-white" data-dismiss="modal">
                                        Fermer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  modal addadd album-->
            </div>
        </div>
    </div>


{% endblock %}
