
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIRstagram | Login</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
</head>

<body class="gray-bg">
<div class="middle-box-login text-center loginscreen animated fadeInDown">
    <div>
        {% if app.user %}
            <div class="col s12 m6 l6 offset-m3 offset-l3">
                Tu es actuellement connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnecte-toi</a>
               <br> <a href="{{ path('home') }}" class="btn btn-primary">accueil</a>
            </div>
        {% else %}
        <div>
            <h4 class="logo-name">AIRstagram</h4>
        </div>
        <h3>Bienvenue sur AIRstagram</h3>

        <form class="m-t" role="form" method="post">
            {% if error %}
                <div class="col s12 m6 l6 offset-m3 offset-l3">
                    <span class="cm-error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}
            <div class="form-group">
                <label for="inputEmail"></label><input type="text" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" required autofocus placeholder="Adresse email">
            </div>
            <div class="form-group">
                <label for="inputPassword"></label><input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <input type="submit" class="btn btn-primary block full-width m-b" value="Se connecter">
            <p class="text-muted text-center"><small>Vous n'avez pas de compte?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="{{ path('inscription') }}">Créer un compte</a>
        </form>
            <a href="{{ path('reset_password') }}"><small>Mot de passe oublié?</small></a>
        {% endif %}
        <p class="m-t"> <strong>AIRstagram &copy; 2020</strong> </p>
    </div>
</div>
<!-- Mainly scripts -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<!-- Flashy depends on jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Load Flashy default JavaScript -->
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>

</html>



