<div class="card">
    <div class="card-header text-center"> <span class="justify-content-center h2">Mes Informations</span></div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="row">
            <div class="form-group col-md-6 ">
                {{ form_row(form.prenom) }}
            </div>
            <div class="form-group col-md-6 ">
                {{ form_row(form.nom) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group col-md-6 ">
                {{ form_row(form.pseudo) }}
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-6 ">
                {{ form_row(form.password) }}
            </div>
            <div class="form-group col-md-6 ">
                <label for="confirmation">Confirmation Mot de Passe</label>
                <input id="confirmation" name="confirmation" type="password" class="form-control">
            </div>
        </div>
        <div class="row">

            <div class="form-group col-md-6 ">
                {{ form_row(form.dateNaiss) }}
            </div>
            <div class="form-group col-md-6 ">
                {{ form_row(form.adresse) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 ">
                {{ form_row(form.imageFile) }}
            </div>

        </div>
    </div>
    <div class="card-footer justify-content-center">
        <button class="btn btn-primary  col-md-4 "> {{ button_label|default('Valider') }}</button>
        {{ form_end(form) }}
    </div>
</div>
