{% extends 'user/profil/index.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block edit %}

    {{ include('user/profil/_form_profil_edit.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
