{% extends 'user/base.user.html.twig' %}

{% block title %} Profil{% endblock %}

{% block body %}

    <div class="container">
        <div class="row animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Détail du profil</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            {% if app.user.image %}

                                <div class="ibox-content no-padding border-left-right">
                                    <img alt="image" class="img-fluid" src="{{ asset('images/profiles/'~app.user.image~'') }}"/>
                                </div>

                            {% else %}
                                <img alt="image" class="img-fluid"
                                     src="{{ asset('images/profiles/black user.png') }}"
                                />
                            {% endif %}
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{ app.user.pseudo }}</strong></h4>
                            <p><i class="fa fa-map-marker"></i> {{ app.user.adresse }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                {% block edit %}
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Information</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="col-md">
                                <div class="ibox selected">
                                    <div class="ibox-content">
                                        <div class="tab-content">
                                            <div id="contact-1" class="tab-pane active">
                                                <div class="client-detail">
                                                    <div class="slimScrollDiv">
                                                        <ul class="list-group clear-list">
                                                            <li class="list-group-item fist-item">
                                                                <span class="float-right"> {{ app.user.email }}</span>
                                                                Email:
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="float-right"> {{ app.user.prenom }}</span>
                                                                Prénom
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="float-right"> {{ app.user.nom }}</span>
                                                                Nom
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="float-right"> {{ app.user.dateNaiss| date("d/m/Y", "Europe/Paris") }} </span>
                                                                Date de Naissance
                                                            </li>
                                                            <li class="list-group-item">
                                                                <span class="float-right"> xxxxxxxxxxx</span> Mot de Passe
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="{{ path('profil_edit') }}">
                                    <button class="btn btn-primary btn-block">
                                        <i class="fa fa-edit"></i>Modifier Mes informations
                                    </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $("#enregistrer").click(function (e) {
                    e.preventDefault();
                    var email = $('#email').val();
                    var id = $('#id').val();
                    var prenom = $('#prenom').val();
                    var nom = $('#nom').val();
                    var pseudo = $('#pseudo').val();
                    var dateNaiss = $('#dateNaiss').val();
                    var passwordActuel = $('#passwordActuel').val();
                    var newPassword = $('#newPassword').val();
                    var confirmation = $('#confirmation').val();
                    if ($("#prenom").val() === "") {
                        $("#prenom-error").html("Veuillez saisir votre  prénom !")
                            .fadeIn().delay(2000).fadeOut();
                    }
                    else if ($("#nom").val() === "") {
                        $("#nom-error").html("Veuillez saisir votre  nom  !")
                            .fadeIn().delay(2000).fadeOut();
                    }
                    else if ($("#pseudo").val() === "") {
                        $("#pseudo-error").html("Veuillez saisir votre  pseudo !")
                            .fadeIn().delay(2000).fadeOut();
                    } else if ($("#email").val() === "") {
                        $("#email-error").html("Veuillez saisir votre  email !")
                            .fadeIn().delay(2000).fadeOut();
                    }  else if ($("#passwordActuel").val() === "") {
                        $("#passwordActuel-error").html("Veuillez saisir votre  mot de passe actuel  !")
                            .fadeIn().delay(2000).fadeOut();
                    }

                    else if ($("#newPassword").val() === "") {
                        $("#newPassword-error").html("Veuillez saisir le nouveau   mot de passe  !")
                            .fadeIn().delay(2000).fadeOut();
                    } else if ($("#confirmation").val() !== $("#newPassword").val() || $("#newPassword").val() === "") {
                        $("#confirmation-error").html("mot de passe non identique!")
                            .fadeIn().delay(2000).fadeOut();
                    } else {
                        var form_data = new FormData();
                        form_data.append("email", email);
                        form_data.append("id", id);
                        form_data.append("prenom", prenom);
                        form_data.append("nom", nom);
                        form_data.append("pseudo", pseudo);
                        form_data.append("dateNaiss", dateNaiss);
                        form_data.append("newPassword", newPassword);
                        form_data.append("confirmation", confirmation);
                        form_data.append("passwordActuel", passwordActuel);
                        $.ajax({
                            type: "POST",
                            url: "profil/edit",
                            dataType: 'json',
                            data : form_data,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                console.log(data);
                            }, error: function (data) {
                                console.log('erreur');
                                console.log(data);
                            }
                        });
                    }
                });
            });
        </script>

    {% endblock %}
{% endblock %}
