{% extends 'user/home/index.html.twig' %}

{% block title %}Corbeille{% endblock %}

 {% block courant %}
     <h2>CORBEILLE</h2>
 {% endblock %}
{% block photo %}

    {% if photos is empty %}
        <div class="file-box">
            <div class="">
                <span class="corner"></span>
                CORBEILLE VIDE
                <div class="icon">
                </div>
                <div class="file-name">

                </div>
            </div>
        </div>
        <div class="file-box">
            <div class="">
                <span class="corner"></span>
                <div class="icon">
                </div>
                <div class="file-name">

                </div>
            </div>
        </div>
    {% else %}
        {% for photo in photos %}
            <div class="file-box">
                <div class="file">
                    <a href="#">
                        <span class="corner"></span>
                        <div class="image">
                            <img alt="image" class="img-fluid" src="../../images/photos/{{ photo.image }}">
                        </div>
                        <div class="file-name">
                            <small>Date d'Ajout: {{ photo.createdAt| date('d/m/y :H-m-s') }}</small>
                        </div>
                    </a>
                    <form method="post" action="{{ path('photo_delete', {'id': photo.id}) }}"
                          onsubmit="return confirm('Voulez-vous vraiment supprimer cette image');"
                          style=" display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                        <button class="btn"><i class="fa fa-lg fa-trash" style="color: #ff0000"></i></button>
                    </form>
                    <a href="{{ path('photo_restore',{id: photo.id}) }}">
                        <button class="btn float-right">
                            <i class="fa fa-lg fa-mail-reply" style="color: green"></i>
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}
