{% extends 'user/home/index.html.twig' %}

{% block courant %}
    <h2> Liste des amis </h2>
    <div class="col-lg-4 float-right">
        <label for="amis">
            <input type="text" placeholder="chercher dans vos amis" id="amis" class=" form-control">
        </label>
    </div>

{% endblock %}

{% block photo %}
    <div class="container animated fadeInRight" style="margin-left: 5%">
        <div class="row" id="appendAmi">
            {% for ami in amis %}
                <div class="col-lg-4">
                    <div class="contact-box center-version">
                        <a href="{{ path('profil_ami',{id:ami.id}) }}">

                            <img alt="image" class="img-fluid" src="../../images/profiles/{{ ami.image }}">

                            <h3 class="m-b-xs"><strong>{{ ami.prenom ~' '~ ami.nom }}</strong></h3>

                            <div class="font-bold">Username: {{ ami.pseudo }}</div>
                            <address class="m-t-md">
                                <i class="fa fa-map-marker"></i>
                                {{ ami.adresse| u.truncate(20,'...',false) }}
                            </address>
                        </a>
                        <div class="contact-box-footer">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" style="background:grey;" ><i class="fa fa-eye"> </i> <a href="{{ path('profil_ami',{id:ami.id}) }}"> Voir </a></button>
                                <button type="button" class="btn btn-secondary" style="background:red;" onclick="return confirm('Voulez-vous vraiment supprimer cette personne !');">
                                    <i class=" fa fa-trash" style="background:red;"> </i> <a href="{{ path('supprimer_ami',{id: ami.id}) }}"> Supprimer </a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
