{% extends 'user/base.user.html.twig' %}

{% block title %} profil {% endblock %}
{% block body %}
    <div class="row"  style="margin-left: 33%">
        <div class="profile-image text-left">
            <img src="{{ asset('images/profiles/'~user.image~'') }}" class="rounded-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="">
            <div>
                <h2 class="no-margins">
                    {{ user.prenom ~' '~  user.nom }}
                </h2>
                <h4 class="fa fa-map-marker"> {{ user.adresse }}</h4>
            </div>
            {% if ifAmi(app.user.email , user.id) == true %}
                <a href="{{ path('supprimer_ami',{id: user.id}) }}"
                   class="btn btn-xs btn-danger" onclick="return confirm('Voulez-vous vraiment supprimé cette personne de votre liste d\'ami');">
                    <i class=" fa fa-trash" style="background:red;"> </i>
                    Suppimer Ami
                </a>
            {% else %}
                {% if ifInvite(app.user.email , user.id) == true %}
                    <a href="{{ path('retirer_invitation',{id: user.id}) }}"
                       class="btn btn-xs btn-danger" onclick="return confirm('Voulez-vous vraiment supprimé l\'invitation envoyer à cette personne !');">
                        <i class=" fa fa-trash" style="background:red;"> </i>
                        Retirer Invitation
                    </a>
                {% else %}
                    <a href="{{ path('invite_ami',{id: user.id}) }}" class="btn btn-xs btn-white">
                        <i class="fa fa-user-plus"></i>
                        Ajouter
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% if user.compte =="PRIVATE"  and  ifAmi(app.user.email , user.id) == false %}
        <div class="row col-lg-12  bg-danger justify-content-center" style="margin-left: 0.5%">
            <div class="text-center h2">
                Désolé ce compte est privé. Veuillez  ajouter {{ user.pseudo }} comme ami pour pouvoir accéder à sa page de profil.
            </div>

    {% else %}
    <div class="col-12 text-center">
        <div class="text-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn btn-round btn-primary" href="{{ path('profil_ami',{id:user.id}) }}">Toutes les photos</a>
                </li>
                {% for album in albums %}
                    <li class="list-inline-item">
                        <a class="btn btn-round btn-secondary" href="{{ path('profil_ami_album',{idP: user.id, idAl: album.id}) }}">{{ album.libelle }}</a>
                    </li>
                {% endfor %}
            </ul>
            </div>
            <!--end  menu droite-->
            <div class="text-center">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <!-- layaout user-->
                        <!-- layaout amis-->
                        {% block container %}
                            <div class="container text-center">
                                {% include('user/photo/block.photo.html.twig') %}
                            </div>
                        {% endblock %}
                            <!-- end layaout amis-->

                    </div>
                    <!-- end layaout user-->
                </div>
            </div>
        </div>
    </div>
            {% endif %}

{% endblock %}
