{% extends 'user/home/index.html.twig' %}
{% block courant %}
<h2> Liste des invitations </h2>
<div class="col-lg-4 float-right">
    <label for="invitation">
        <input type="text" placeholder="chercher dans les invitation" id="invitation" class=" form-control">
    </label>
</div>

{% endblock %}

{% block photo %}
<div class="container animated fadeInRight" style="margin-left: 5%">
    <div class="row" id="appendInvite">
        {% for invite in invitation %}
        <div class="col-lg-4">
            <div class="contact-box center-version">
                <a href="{{ path('profil_ami',{id:invite.id}) }}">

                    <img alt="image" class="img-fluid" src="../../images/profiles/{{ invite.image }}">

                    <h3 class="m-b-xs"><strong>{{ invite.prenom ~' '~ invite.nom }}</strong></h3>

                    <div class="font-bold">Username: {{ invite.pseudo }}</div>
                    <address class="m-t-md">
                        <i class="fa fa-map-marker"></i>
                        {{ invite.adresse| u.truncate(20,'...',false) }}
                    </address>
                </a>
                <div class="contact-box-footer">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-secondary" style="background:grey;" ><i class="fa fa-eye"> </i> <a href="{{ path('profil_ami',{id:invite.id}) }}"> Voir </a></button>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary" style="background:green;" ><i class="fa fa-eye"> </i><a href="{{ path('accepter_invitation',{id: invite.id}) }}" >Accepter</a></button>
                            <button type="button" class="btn btn-secondary" style="background:red;" onclick="return confirm('Voulez-vous vraiment rejeter cette invitation');">
                                <i class=" fa fa-trash" style="background:red;"> </i> <a href="{{ path('supprimer_invitation',{id: invite.id}) }}"> Rejeter </a>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
