{% extends 'admin/index.html.twig' %}
{% block title %} ADMIN ALBUM{% endblock %}

{% block layout %}
    <!-- tableau  user-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des Album dans ce site</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle"
                           data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Libelle</th>
                                <th>Date de Création</th>
                                <th>utilisateur</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for album in albums %}
                                <tr>
                                    <td>{{ album.id }}</td>
                                    <td>{{ album.libelle }}</td>
                                    <td>{{ album.createdAt|date('d/m/y') }}</td>
                                    <td>{{ album.user.pseudo}}</td>
                                    <td>
                                        <form method="post" action="{{ path('album_delete', {'id': album.id}) }}" style="display: inline-block"
                                              onsubmit="return confirm('Voulez-vous vraiment supprimer cet album?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ album.id) }}">
                                            <button class=" btn btn-danger">
                                                <i class=" fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="justify-content-center">
                <strong>Copyright</strong> phototèque &copy; 2020-2021
            </div>
        </div>
    </div>
    <!-- end tableau  user-->
{% endblock %}

