<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Admin | AIRstagram {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <!-- Toastr style -->
    <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
    <!-- Gritter -->
    <link href="{{ asset('js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">
    <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <!-- Load Flashy default CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        {% if app.user.image %}
                            <img alt="image" class="rounded-circle m-l-md-4"
                                 src="{{ asset('images/profiles/'~app.user.image~'') }}"
                                 style="width: 60px;height: 60px"/>
                        {% else %}
                            <img alt="image" class="rounded-circle m-l-md-4"
                                 src="{{ asset('images/profiles/user.png') }}"
                                 style="width: 60px;height: 60px"/>
                        {% endif %}
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">{{ app.user.prenom  ~' '~  app.user.nom }} </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        AIR
                    </div>
                </li>
                <li class="active">
                    <a href="{{ path('admin_user') }}">
                        <i class="fa fa-user"></i>
                        <span class="nav-label">Utilisateurs</span>
                        <span class="fa arrow">
                        </span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('admin_user') }}">
                                <i class="fa fa-list"></i>Liste des utilisateurs
                            </a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('admin_album') }}">
                        <i class="fa fa-folder"></i>
                        <span class="nav-label">ALbums</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_photo') }}">
                        <i class="fa fa-picture-o"></i>
                        <span class="nav-label">Photos</span>

                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_photo_signaler') }}">
                        <i class="fa fa-warning"></i>
                        <span class="nav-label">Photos Signalées</span>

                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <!-- stard navbar-->
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
                        <i class="fa fa-bars"></i>
                    </a>
                    <form role="search" class="navbar-form-custom">
                        <div class="form-group">
                            <input type="text" placeholder="Rechercher" class="form-control"
                                   name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li style="padding: 20px">
                        <span class="m-r-sm text-muted welcome-message">Bievenue {{ app.user.prenom }} </span>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell"></i> <span class="label label-primary">{{ tofSignaler() }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="{{ path('admin_photo_signaler') }}" class="dropdown-item">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> {{ tofSignaler()}} photos signalées
                                    </div>
                                </a>
                            </li>


                        </ul>
                    </li>


                    <li>
                        <a href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out"></i>Déconnecter
                        </a>
                    </li>
                    <li>
                        <a class="right-sidebar-toggle">
                            <i class="fa fa-tasks"></i>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <!-- end navbar-->

        <div class="wrapper wrapper-content">
            <!-- layout admin -->
            {% block layout %}
            <!--  information of entity-->
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                                <span class="label label-primary float-right text-uppercase">
                                    <strong>Utilisateurs</strong>
                                </span>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-3">
                                            <i class="fa fa-user fa-3x"></i>
                                        </div>
                                        <div class="col-9 text-right">
                                            {% if users is empty %}
                                                <h2 class="font-bold">0</h2>
                                            {% else %}
                                                <h2 class="font-bold">{{ users|length }}</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                                <span class="label label-info float-right text-uppercase">
                                    <strong>ALBUMS</strong>
                                </span>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12">
                                <div class="widget style1 bg-info">
                                    <div class="row vertical-align">
                                        <div class="col-3">
                                            <i class="fa fa-folder fa-3x"></i>
                                        </div>
                                        <div class="col-9 text-right">
                                            {% if albums is empty %}
                                                <h2 class="font-bold">0</h2>
                                            {% else %}
                                                <h2 class="font-bold">{{ albums }}</h2>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                                <span class="label label-warning float-right text-uppercase">
                                    <strong>Photos</strong>
                                </span>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12">
                                <div class="widget style1 bg-warning">
                                    <div class="row vertical-align">
                                        <div class="col-3">
                                            <i class="fa fa-picture-o fa-3x"></i>
                                        </div>
                                        <div class="col-9 text-right">
                                            {% if photos is empty %}
                                            <h2 class="font-bold">0</h2>
                                            {% else %}
                                            <h2 class="font-bold">{{ photos }}
                                                {% endif %}
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-title">
                                <span class="label label-danger float-right text-uppercase">
                                    <strong>Photos Signalées</strong>
                                </span>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12">
                                <div class="widget style1 bg-danger">
                                    <div class="row vertical-align">
                                        <div class="col-3">
                                            <i class="fa fa-warning fa-3x"></i>
                                        </div>
                                        <div class="col-9 text-right">
                                            {% if signaler is empty %}
                                                <h2 class="font-bold">0</h2>
                                            {% else %}
                                                <h2 class="font-bold">{{ signaler }}</h2>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--  information of entity-->

            <!-- tableau  user-->
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Les utilisateurs inscrits</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle"
                                   data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Prénom</th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Adresse</th>
                                        <th>Pseudo</th>
                                        <th>Date de Naissance</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.prenom }}</td>
                                            <td>{{ user.nom }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.adresse }}</td>
                                            <td>{{ user.pseudo }}</td>
                                            <td>{{ user.dateNaiss|date('d/m/y') }}</td>
                                            <td>
                                                <button type="button" class=" btn btn-primary" data-toggle="modal"
                                                        data-target="#user{{ user.id }}">
                                                    <i class=" fa fa-eye"></i>
                                                </button>
                                            </td>
                                        </tr>

                                        <div class="modal inmodal fade" id="user{{ user.id }}" tabindex="-1"
                                             role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span
                                                                    aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                                                        </button>
                                                        <div class="">
                                                            <img alt="image" class="img-fluid justify-content-center"
                                                                 src="../../images/profiles/{{ user.image }}">
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="ibox ">
                                                            <div class="ibox-title">
                                                                <h5>Information</h5>
                                                                <div class="ibox-tools">
                                                                    <a class="collapse-link">
                                                                        <i class="fa fa-chevron-up"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="ibox-content">
                                                                <div class="col-md">
                                                                    <div class="ibox selected">
                                                                        <div class="ibox-content">
                                                                            <div class="tab-content">
                                                                                <div id="contact-1"
                                                                                     class="tab-pane active">
                                                                                    <div class="client-detail">
                                                                                        <div class="slimScrollDiv">
                                                                                            <ul class="list-group clear-list">
                                                                                                <li class="list-group-item fist-item">
                                                                                                    <span class="float-right"> {{ user.email }}</span>
                                                                                                    Email:
                                                                                                </li>
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> {{ user.prenom }}</span>
                                                                                                    Prénom
                                                                                                </li>
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> {{ user.nom }}</span>
                                                                                                    Nom
                                                                                                </li>
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> {{ user.dateNaiss| date("d/m/Y", "Europe/Paris") }} </span>
                                                                                                    Date de Naissance
                                                                                                </li>
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> {{ user.adresse }} </span>
                                                                                                    Adresse
                                                                                                </li>
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> {{ user.photos|length }} </span>
                                                                                                    Nombre de Photos
                                                                                                </li>
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> {{ user.albums|length }} </span>
                                                                                                    Nombre d' albums
                                                                                                </li>
                                                                                                
                                                                                                <li class="list-group-item">
                                                                                                    <span class="float-right"> xxxxxxxxxxx</span>
                                                                                                    Mot de Passe
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="justify-content-center">
                                    <a href="{{ path('admin_user') }}" class="btn btn-primary">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
                <div class="footer">
                    <div class="justify-content-center">
                        <strong>Copyright</strong> phototèque &copy; 2020-2021
                    </div>
                </div>
            </div>
            <!-- end tableau  user-->


            <!-- end layout admin -->

        </div>
    </div>
</div>
<div id="right-sidebar" class="animated">
    <div class="sidebar-container">
        <ul class="nav nav-tabs navs-3">
            <li>
                <a class="nav-link" data-toggle="tab" href="#tab-1"> <i class="fa fa-gear"></i> </a>
            </li>
        </ul>
        <div class="tab-content active">
            <div id="tab-1" class="tab-pane">

                <div class="sidebar-title">
                    <h3><i class="fa fa-gears"></i> Settings</h3>
                </div>

                <div class="setings-item">
                    <span>
                        Show notifications
                    </span>
                </div>
                <div class="setings-item">
                    <span>
                        Disable Chat
                    </span>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox"
                                   id="example2">
                            <label class="onoffswitch-label" for="example2">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>



                <div class="sidebar-content">
                    <h4>Settings</h4>
                    <div class="small">
                        I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}
<!-- Mainly scripts -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- GITTER -->
<script src="{{ asset('js/plugins/gritter/jquery.gritter.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<!-- Sparkline demo data  -->
<!-- Toastr -->
<script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>
<!-- Flashy depends on jQuery -->
<!-- Load Flashy default JavaScript -->
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

</body>
</html>
