<!-- Modal: modalQuickView -->
<div class="modal inmodal fade" id="photo{{ photo.id }}" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                </button>
                <div class="">
                    <img alt="image" class="img-fluid justify-content-center"
                         src="../../images/photos/{{ photo.image }}">
                </div>
            </div>
        </div>
    </div>
</div>
