{% extends 'admin/index.html.twig' %}
{% block title %} ADMIN | Photos{% endblock %}
{% block layout %}
    <!-- tableau  user-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des photos dans ce site</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                <th>Tags</th>
                                <th>Date de Création</th>
                                <th>Utilisateur</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for photo in photos %}
                                <tr>
                                    <td>{{ photo.id }}</td>
                                    <td>{{ photo.image }}</td>
                                    <td>{{ photo.tag.libelle }}</td>
                                    <td>{{ photo.createdAt|date('d/m/y') }}</td>
                                    <td>{{ photo.user.pseudo}}</td>
                                    <td>
                                        <button type="button" class=" btn btn-primary" data-toggle="modal" data-target=#photo{{ photo.id }}>
                                            <i class=" fa fa-eye"></i>
                                        </button>
                                        <form method="post" action="{{ path('admin_photo_delete', {'id': photo.id}) }}" style="display: inline-block"
                                              onsubmit="return confirm('Voulez-vous vraiment supprimer cet photo?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ photo.id) }}">
                                            <button class=" btn btn-danger">
                                                <i class=" fa fa-trash"></i>
                                            </button>
                                        </form>
                                        <!-- modal start-->
                                        {% include('admin/modal.photo.html.twig') %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="card-footer justify-content-center">
                            <div class="pagination justify-content-center ">
                                {{ knp_pagination_render(photos) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end tableau  user-->
{% endblock %}

