{% extends 'admin/index.html.twig' %}
{% block title %} ADMIN | Signaler{% endblock %}

{% block layout %}
    <!-- tableau  user-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Liste des Photos Signaler</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Image</th>
                                <th>Tags</th>
                                <th>Date de Création</th>
                                <th>Sigalée par</th>
                                <th>Durée</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for signaler in photos %}
                                <tr>
                                    <td>{{ signaler.photo.id }}</td>
                                    <td>{{ signaler.photo.image }}</td>
                                    <td>{{ signaler.photo.tag.libelle }}</td>
                                    <td>{{ signaler.photo.createdAt|date('d/m/y') }}</td>
                                    <td>{{ signaler.photo.user.pseudo }}</td>
                                    <td>{{ signaler.dateSignal|ago }}</td>
                                    <td>
                                        <button type="button" class=" btn btn-primary" data-toggle="modal"
                                                data-target=#photo{{ signaler.photo.id }}>
                                            <i class=" fa fa-eye"></i>
                                        </button>
                                        <form method="post"
                                              action="{{ path('admin_photo_signaler_delete', {'id': signaler.id}) }}"
                                              style="display: inline-block"
                                              onsubmit="return confirm('Voulez-vous vraiment supprimer cette photo?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ signaler.id) }}">
                                            <button class=" btn btn-danger">
                                                <i class=" fa fa-trash"></i>
                                            </button>
                                        </form>
                                        <!-- modal start-->
                                        <div class="modal inmodal fade" id="photo{{ signaler.photo.id }}" tabindex="-1"
                                             role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span
                                                                    aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                                                        </button>
                                                        <div class="">
                                                            <img alt="image" class="img-fluid justify-content-center"
                                                                 src="../../images/photos/{{ signaler.photo.image }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="card-footer justify-content-center">
                            <div class="pagination justify-content-center ">
                                {{ knp_pagination_render(photos) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end tableau  user-->
{% endblock %}

