{% extends 'admin/index.html.twig' %}
{% block title %} ADMIN | UTILISATEUR{% endblock %}

{% block layout %}
    <!-- tableau  user-->
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Les utilisateurs qui sont inscrits</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle"
                       data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Pseudo</th>
                            <th>Date de Naissance</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.adresse }}</td>
                                <td>{{ user.pseudo }}</td>
                                <td>{{ user.dateNaiss|date('d/m/y') }}</td>
                                <td>
                                    <button type="button" class=" btn btn-primary" data-toggle="modal"
                                            data-target="#user{{ user.id }}">
                                        <i class=" fa fa-eye"></i>
                                    </button>

                                </td>
                            </tr>

                            <div class="modal inmodal fade" id="user{{ user.id }}" tabindex="-1"
                                 role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                        aria-hidden="true">×</span><span class="sr-only">Fermer</span>
                                            </button>
                                            <div class="">
                                                <img alt="image" class="img-fluid justify-content-center"
                                                     src="../../images/profiles/{{ user.image }}">
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="ibox ">
                                                <div class="ibox-title">
                                                    <h5>Information</h5>
                                                    <div class="ibox-tools">
                                                        <a class="collapse-link">
                                                            <i class="fa fa-chevron-up"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="ibox-content">
                                                    <div class="col-md">
                                                        <div class="ibox selected">
                                                            <div class="ibox-content">
                                                                <div class="tab-content">
                                                                    <div id="contact-1"
                                                                         class="tab-pane active">
                                                                        <div class="client-detail">
                                                                            <div class="slimScrollDiv">
                                                                                <ul class="list-group clear-list">
                                                                                    <li class="list-group-item fist-item">
                                                                                        <span class="float-right"> {{ user.email }}</span>
                                                                                        Email:
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> {{ user.prenom }}</span>
                                                                                        Prénom
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> {{ user.nom }}</span>
                                                                                        Nom
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> {{ user.dateNaiss| date("d/m/Y", "Europe/Paris") }} </span>
                                                                                        Date de Naissance
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> {{ user.adresse }} </span>
                                                                                        Adresse
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> {{ user.photos|length }} </span>
                                                                                        Nombre de Photos
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> {{ user.albums|length }} </span>
                                                                                        Nombre d' albums
                                                                                    </li>
                                                                                    <li class="list-group-item">
                                                                                        <span class="float-right"> xxxxxxxxxxx</span>
                                                                                        Mot de Passe
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- end tableau  user-->
{% endblock %}

