{% extends 'user/home/index.html.twig' %}

{% block title %}Photos{% endblock %}

{% block courant %}
    <h2>Tag: {{ tag }}</h2>
{% endblock %}

{% block photo %}

    <div class="card text-center">
        <div class="card-body">
            <div class="col-lg-12">
                {% if photos is empty %}
            </div>
            <div class="container text-center">
                Vous n'avez pas d'image qui appartient à ce tag
            </div>
            {% else %}
                {% for photo in photos %}
                    <div class="file-box">
                        <div class="file">
                            <a href="#" data-toggle="modal" data-target="#modal{{ photo.id }}">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-fluid" src="../../images/photos/{{ photo.image }}">
                                </div>
                                <div class="file-name">
                                    <small class="text-uppercase">Description {{ photo.description| u.truncate(15, '...', false) }}</small>
                                </div>
                                <div class="file-name">
                                    <small>Date d'Ajout: {{ photo.createdAt| date('d/m/y :H-m-s') }}</small>
                                </div>
                            </a>
                            <form method="post" action="{{ path('photo_archiver', {'id': photo.id}) }}"
                                  onsubmit="return confirm('Voulez-vous supprimer cette photo?');">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                                <button class="btn"><i class="fa fa-lg fa-trash" style="color: #ff0000"></i></button>
                            </form>
                        </div>
                    </div>
                    {% include('user/detail.image.html.twig') %}
                {% endfor %}
            {% endif %}
        </div>

    </div>
    <div class="card-footer justify-content-center">
        <div class="pagination justify-content-center ">
            {{ knp_pagination_render(photos) }}
        </div>
    </div>


{% endblock %}
