<!-- layaout user-->
<div class="card text-center">
    <div class="card-body">
        <div class="col-lg-12">
            {% if photos is empty %}
        </div>
        <div class="container text-center">
            Ce compte ne contient aucune image
        </div>
        {% else %}
        <div class="row">
            {% for photo in photos %}
                <div class="col-4">
                    <div class="">
                        <a href="#" data-toggle="modal" data-target="#modal{{ photo.id }}">
                            <img alt="image" class="img-thumbnail image" src="{{ asset('images/photos/'~photo.image~'') }}">
                        </a>
                        {% if app.user.id == user.id %}
                            <form method="post" action="{{ path('photo_archiver', {'id': photo.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette photo?');">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                                <button class="btn"><i class="fa fa-lg fa-trash" style="color: #ff0000"></i></button>
                            </form>
                        {% endif %}
                        {% include('user/detail.image.html.twig') %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

</div>
<div class="card-footer justify-content-center">
    <div class="pagination justify-content-center ">
        {{ knp_pagination_render(photos) }}
    </div>
</div>

