{% extends 'user/home/index.html.twig' %}

{% block title %}Ajouter Photo{% endblock %}

{% block photo %}
    <div class="container">
    <div class="card">
        <div class="modal-content">
            <div class="card-header">
                <h4 class="card-title">Ajouter une image</h4>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>

            <div class="modal-footer">
                <button  class="btn btn-primary">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    </div>

{% endblock %}
