{% extends 'user/home/index.html.twig' %}

{% block title %}Album {% endblock %}

{% block courant %}
    {% if app.request.requestUri== "/AIRstagram/favorie/" %}
        <span class="col-md-6 justify-content-center h2 "> Mes favoris  </span>
    {% else %}
        <span class="col-md-6 justify-content-center h2 "> Mes Albums  </span>
    {% endif %}
{% endblock %}

{% block photo %}
    <div class="card text-center">
    <div class="card-body">
    <div class="col-lg-12">
    {% if albums is empty %}
        </div>

        {% if app.request.requestUri== "/AIRstagram/favorie/" %}
            <div class="container text-center">
               Favori vide
            </div>
        {% else %}
            <div class="container text-center">
                ALBUM VIDE
            </div>
        {% endif %}


    {% else %}
        {% for album in albums %}
            <div class="file-box">
                <div class="file">
                    <a href="{{ path('album_show', {'id': album.id}) }}">
                        <span class="corner"></span>
                        <div class="icon">
                            <i class="fa fa-folder"></i>
                        </div>
                        <div class="file-name">
                            {{ album.libelle }}
                            <br>
                            <small>{{ album.createdAt| date }}</small>
                        </div>
                    </a>
                </div>
                {% if album.favorie is  null %}
                    <a href="{{ path('album_favorie_add',{id: album.id}) }}">
                        <button class="btn btn-primary"><i class="fa fa-star"></i></button>
                    </a>
                {% else %}
                    {% if app.request.requestUri== "/AIRstagram/favorie/" %}
                        <a href="{{ path('album_favorie_delete',{id: album.id}) }}">
                            <button class="btn btn-primary"><i class="fa fa-trash"></i></button>
                        </a>

                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        </div>
        </div>
        <div class="card-footer justify-content-center">
            <div class="pagination justify-content-center ">
                {{ knp_pagination_render(albums) }}
            </div>
        </div>

    {% endif %}
{% endblock %}
