{% extends 'user/home/index.html.twig' %}

{% block title %}Album: {{ album.libelle }}{% endblock %}
 {% block courant %}
     <span class="col-md-6 justify-content-center h2 ">Album: {{ album.libelle }}</span>
     <div class="col-sm-8 justify-content-center" style="margin-left: 36.5%">
         <form class="form-inline" action="{{ path('trie') }}" method="post">
             <div class="form-group"style="margin-left: 5.5%;width: 55%" >
                 <select name="select"
                         class="form-control">
                     <option value="nom">Trier par Nom</option>
                     <option value="date">Trier par Date</option>
                 </select>
                 <a href="{{ path('trie') }}">
                     <button class="btn btn-primary fa fa-search"></button>
                 </a>
             </div>
         </form>

     </div>
 {% endblock %}

{% block photo %}
    <div class="card text-center">
        <div class="card-body">
            <div class="col-lg-12">
                {% if photos is empty %}
            </div>
            <div class="container text-center">
                Vous n'avez pas d'image dans votre compte
            </div>
            {% else %}
                {% for photo in photos %}
                    <div class="file-box">
                        <div class="file">
                            <a href="#" data-toggle="modal" data-target="#modal{{ photo.id }}">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-fluid" src="../../images/photos/{{ photo.image }}">
                                </div>
                                <div class="file-name">
                                    <small class="text-uppercase"> {{ photo.description| u.truncate(15, '...', false) }}</small>
                                </div>
                                <div class="file-name">
                                    <small>Date d'Ajout: {{ photo.createdAt| date('d/m/y :H-m-s') }}</small>
                                </div>
                            </a>
                            <form method="post" action="{{ path('photo_archiver', {'id': photo.id}) }}"
                                  onsubmit="return confirm('Voulez-vous supprimer cette photo?');">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo.id) }}">
                                <button class="btn"><i class="fa fa-lg fa-trash" style="color: #ff0000"></i></button>
                            </form>
                        </div>
                    </div>
                    {% include('user/detail.image.html.twig') %}
                   {% endfor %}
            {% endif %}
        </div>

    </div>
    <div class="card-footer justify-content-center">
        <div class="pagination justify-content-center ">
            {{ knp_pagination_render(photos) }}
        </div>
    </div>
    <a href="{{ path('album_photo_new',{id:album.id}) }}">
        <button class="btn btn-primary"> Ajouter de Photo</button>
    </a>


{% endblock %}

