{{ form_start(form) }}
<div class="row">
    <div class="form-group col-md-6 ">
        {{ form_row(form.prenom) }}
    </div>
    <div class="form-group col-md-6 ">
        {{ form_row(form.nom) }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 ">
        {{ form_row(form.email) }}
    </div>
    <div class="form-group col-md-6 ">
        {{ form_row(form.pseudo) }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 ">
        {{ form_row(form.password) }}
    </div>
    <div class="form-group col-md-6 ">
        <label for="confirmation">Confirmation Mot de Passe</label>
            <input  id="confirmation" name="confirmation" type="password" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 ">
        {{ form_row(form.dateNaiss) }}
    </div>
    <div class="form-group col-md-6 ">
        {{ form_row(form.adresse) }}
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6 ">
        {{ form_row(form.imageFile) }}
    </div>
</div>
<!--div class="form-group">
    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label>
    </div>
</div-->
<button class="btn btn-primary  col-md-4 justify-content-center">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
<p class="text-muted text-center"><small>Vous avez déjà un compte?</small></p>
<a class="btn btn-white  justify-content-center" href="{{ path('app_login') }}">Connexion</a>
