<!DOCTYPE html>
<html lang="fr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}AIRstagram{% endblock %}</title>
{% block stylesheets %}{% endblock %}
<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
<!-- Toastr style -->
<link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
<!-- Gritter -->
<link href="{{ asset('js/plugins/gritter/jquery.gritter.css') }}" rel="stylesheet">
<link href="{{ asset('css/animate.css') }}" rel="stylesheet">
<link href="{{ asset('css/style.css') }}" rel="stylesheet">
<!-- Load Flashy default CSS -->
<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
<body>
<div class="row text-center">
    <ul class="row center" style="width: 100%; height: 100%; list-style-type: none">
        <li class="col-sm text-left">
            <a href="{{ path('profil') }}">
            <img alt="image" class="mt-3" src="{{ asset('images/logo.png') }}" style="width: 60px;height: auto"/>
            </a>
        </li>
        <li class="col-sm ">
            <form class="form-inline" action="{{ path('user_search') }}" method="post"
                  style="display: inline">
                <div height="100%" class="mt-4">
                    <input type="text" placeholder="trouver un utilisateur" id="search" name="search" class="form-control" style="width: auto;height: 3em">
                    <a href="{{ path('user_search') }}">
                        <button class="btn btn-primary fa fa-search" style="width: 3.3em;height: 3.3em"></button>
                    </a>
                </div>
            </form>
        </li>
        <li class="col-sm text-right mr-5">
            <div class="dropdown profile-element mt-3">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {% if app.user.image %}
                        <img alt="image" class="rounded-circle m-l-md-4"
                            src="{{ asset('images/profiles/'~app.user.image~'') }}"
                             style="width:  4em;height: 4em"/>
                    {% else %}
                        <img alt="image" class="rounded-circle m-l-md-4"
                            src="{{ asset('images/profiles/black user.png') }}"
                             style="width:  4em;height: 4em"/>
                    {% endif %}
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs" style="list-style-type: none">
                    <li><a class="dropdown-item" href="{{ path('albums') }}"> <i class="fa fa-folder"></i> Album</a></li>
                    <li><a class="dropdown-item" href="{{ path('amis') }}"> <i class="fa fa-link"></i> Amis <span class="label label-info float-right">{{ amiNombre(app.user) }}</span></a></li>
                    <li><a class="dropdown-item" href="{{ path('corbeille') }}"> <i class="fa fa-trash"></i> Corbeille</a></li>
                    <li><a class="dropdown-item" href="{{ path('invitations') }}"> <i class="fa fa-envelope"></i> Invitations <span class="label label-info float-right">{{ invitationNombre(app.user) }}</span></a></li>
                    <li><a class="dropdown-item" href="{{ path('photos') }}"> <i class="fa fa-image"></i> Photos</a></li>
                    <li><a class="dropdown-item" href="{{ path('profil') }}"> <i class="fa fa-user"></i> Profil</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
            <div class="logo-element">
                AIR
            </div>
        </li>
    </ul>

    {% block body %}{% endblock %}

    <div class="footer-custom">
        <p class="text-center"><strong>Copyright</strong> AIRstagram &copy; 2020-2021</p>
    </div>
</div>

<!-- Mainly scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<!-- Flot -->
<script src="{{ asset('js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ asset('js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('js/plugins/flot/jquery.flot.spline.js') }}"></script>
<script src="{{ asset('js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('js/plugins/flot/jquery.flot.pie.js') }}"></script>
<!-- Peity -->
<script src="{{ asset('js/plugins/peity/jquery.peity.min.js') }}"></script>
<!-- Custom and plugin javascript -->
<script src="{{ asset('js/inspinia.js') }}"></script>
<script src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- GITTER -->
<script src="{{ asset('js/plugins/gritter/jquery.gritter.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ asset('js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<!-- Sparkline demo data  -->
<!-- Toastr -->
<script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>

<!-- Flashy depends on jQuery -->
<!-- Load Flashy default JavaScript -->
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}

<!-- ajouter commentaire-->
<script>
    $(document).ready(function () {
        var commentaire = $("#commentaire")
        $('#coment').click('button',function () {
            alert('beusnama nag')
            var message = $('#message').val();
            var photoId = $('#photoId').val();
            // AJAX request
            if (message !== "") {
                $.ajax({
                    url: '{{ path('commentaire') }}',
                    type: 'post',
                    data: {message: message, photoId: photoId},
                    dataType: 'json',
                    success: function (data) {
                        $('#message').val('')
                        commentaire.html('');
                        printComent(data, commentaire)
                    }, error: function (data) {
                        console.log('erreur');
                        console.log(data);
                    }

                });

            }

            function printComent(data, commentaires) {
                $.each(JSON.parse(data), function (index, comentaire) {
                    commentaires.append(`
                      <div class="social-comment">
                                        <a href="" class="float-left">
                                            <img alt="image"  src="../../../public/images/profiles/612507-5f9438c5e8c12168127621.jpg">
                                        ${ comentaire.user.pseudo}
                                        </a>
                                        <div class="media-body">
                                             ${comentaire.message}
                                            <br>
                                            <!-- like-->
                                            <!--a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a-->
                                            <strong class="text-muted">   ${comentaire.datePosted.toString('d/m/y')} </strong>
                                        </div>
                                    </div>
                    `);
                });
            }

        });

    });


</script>
<!-- fin ajout -->

<!-- ajouter un album-->
<script>
    $(document).ready(function () {
        $("#resultat").fadeOut();
        $('#enregistrer').click(function () {
            var nom = $('#nom').val();
            // AJAX request
            $.ajax({
                url: '{{ path('album_new') }}',
                type: 'post',
                data: {nom: nom},
                dataType: 'json',
                success: function (data) {
                    $("#resultat").show().html("L'album  à été ajouté ")
                        .fadeIn().delay(2000).fadeOut();
                    setTimeout(function () {
                        window.location.href = "";
                    }, 2000);
                    //console.log(data);
                    console.log(data);
                }, error: function (data) {
                    console.log('erreur');
                    console.log(data);
                }

            });

        });

    });
</script>
<!-- fin ajout album-->

<!-- recherche dans les amis-->
<script>
    $(document).ready(function () {
        var search = $('#amis');
        var appendAmi = $('#appendAmi ');
        search.on('keyup', (function () {
            var value = search.val()
            $.ajax({
                url: '{{ path('amis_search') }}',
                type: 'post',
                data: {search: value},
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    alert(data.length())
                    appendAmi.html('')
                    printUser(data, appendAmi)
                }, error: function (data) {
                    alert('erreur lors de la récupération des donnée voir le console pour plus de détail');
                    console.log(data);
                }

            });

            function printUser(data, appendAmis) {
                $.each(JSON.parse(data), function (index, ami) {
                    appendAmis.append(index.id)
                    if (ami.prenom != "undefined") {
                        appendAmis.append(`
                      <div class="col-lg-4">
                          <div class="contact-box center-version">
                        <a href="profile.html">

                          <img alt="image" class="img-fluid" src="../../images/photos/${ami.image}">

                            <h3 class="m-b-xs"><strong>${ami.prenom} ${ami.nom}</strong></h3>

                            <div class="font-bold">Username: ${ami.pseudo}</div>
                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                            </div>
                        </div>

                    </div>
                </div>
         `);
                    }

                });
            }

        }));

    });
</script>
<!-- end seach-->

<!-- trier les fhoto-->
<script>
    $(document).ready(function () {
        var select = $('#select');
        var trie = $('#trie ');
        select.change((function () {
            var value = select.val()
            $.ajax({
                url: '{{ path('trie') }}',
                type: 'post',
                data: {trie: value},
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    trie.html('')
                    printPhoto(data, trie)
                }, error: function (data) {
                    alert('erreur lors de la récupération des donnée voir le console pour plus de détail');
                    console.log(data);
                }

            });

            function printPhoto(data, trie) {
                $.each(data, function (index, photo) {
                    trie.append(`
                      <div class="card text-center">
        <div class="card-body">
            <div class="col-lg-12">

                    <div class="file-box">
                        <div class="file">
                            <a href="#" data-toggle="modal" data-target="#modal${photo.id}">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-fluid" src="../../images/photos/${photo.image}">
                                </div>
                                <div class="file-name">
                                    <small class="text-uppercase">Description ${photo.description}</small>
                                </div>
                                <div class="file-name">
                                    <small>Date d'Ajout: ${photo.createdAt | date('d/m/y :H-m-s')}</small>
                                </div>
                            </a>

                        </div>
                    </div>
                    <!-- Modal: modalQuickView -->
                    <div class="modal modal-dialog-xl fadeInRightBig" id="modal${photo.id}" tabindex="-1"
                         role="dialog"
                         aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <!--Carousel Wrapper-->
                                        <!--Slides-->
                                        <div class="">
                                            <img class=""
                                                 src="../../images/photos/${photo.image}" alt="${photo.image}"
                                                 style="width: 732px;height: auto">
                                        </div>
                                        <!--/.Carousel Wrapper-->
                                    </div>
                                    <div class="col-lg-4">
                                        <h1 class="h2-responsive product-name">
                                            <strong>Nom de l'image: ${photo.image}</strong>
                                        </h1>
                                        <h2 class="h4-responsive">
                                          <span class="green-text">
                                            <strong>Descrioption: ${photo.description}</strong>
                                          </span>
                                        </h2>
                                        <h2 class="h4-responsive">
                                          <span class="green-text">
                                            <strong>Tag: ${photo.tag.libelle}</strong>
                                          </span>
                                        </h2>
                                        <!-- Add to Cart -->
                                        <div class="card-body">
                                            <div class="text-center">

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Fermer
                                                </button>
                                                <button class="btn btn-primary">Signaler
                                                    <i class="fa fa-warning" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.Add to Cart -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
        </div>

    </div>
    <div class="card-footer justify-content-center">

    </div>

         `);
                });
            }
        }));
    })
        ;
</script>




<!-- signaler  un photo-->
<script>
    $(document).ready(function () {
        $('.signaler').click(function () {
            var idPhoto = $(this)[0].attributes["id"].value;
            console.log("$(this): ", $(this)[0].attributes["id"].value);
            // AJAX request
            $.ajax({
                url: '{{ path('signaler_photo') }}',
                type: 'post',
                data: {idPhoto: idPhoto},
                dataType: 'json',
                success: function (data) {
                    $("#resultat").show().html("L'album  à été ajouté ")
                        .fadeIn().delay(2000).fadeOut();
                    setTimeout(function () {
                        window.location.href = "";
                    }, 500);
                    //console.log(data);
                    console.log(data);
                }, error: function (data) {
                    console.log('erreur');
                    console.log(data);
                }

            });

        });

    });
</script>
<!-- fin signal-->
<!-- end seach-->
<!-- recherche users
<script>
    $(document).ready(function () {
        var search_user = $('#search-user');
        var appendAmi = $('#appendAmi ');
        search_user.on('keyup',(function () {
            var value = search_user.val()
            $.ajax({
                url: '{{ path('user_search') }}',
                type: 'post',
                data: {search_user:value},
                dataType: 'json',
                success: function (data) {
                    console.log('user search');
                    console.log(data);
                   appendAmi.html('')
                    printUser(data, appendAmi)
                }, error: function (data) {
                   alert('erreur lors de la récupération des donnée voir le console pour plus de détail');
                    console.log(data);
                }

            });
            function printUser(data, appendAmis) {
                $.each(JSON.parse(data), function (index, ami) {
                    appendAmis.append(index.id)
                    appendAmis.append(`
                      <div class="col-lg-4">
                          <div class="contact-box center-version">
                        <a href="profile.html">

                          <img alt="image" class="img-fluid" src="../../images/photos/{{ asset('images/profiles/black user.png') }}">

                            <h3 class="m-b-xs"><strong>${ami.prenom} ${ami.nom}</strong></h3>

                            <div class="font-bold">Username: ${ami.pseudo}</div>
                            <address class="m-t-md">
                                <i class="fa fa-map-marker"></i>
                                ${ami.adresse}
                            </address>
                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                                <a href="" class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                            </div>
                        </div>

                    </div>
                </div>
         `);


                });
            }

        }));

    });
</script>
 end seach-->
{% block javascripts %}{% endblock %}
</body>
</html>

