<!-- Modal: modalQuickView -->
<div class="modal modal-dialog-xl fadeInRightBig" id="modal{{ photo.id }}" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-8">
                    <!--Carousel Wrapper-->
                    <!--Slides-->
                    <a href="../../images/photos/{{ photo.image }}" download="AIRstagrame">
                        <img class=""
                             src="{{ asset('images/photos/'~photo.image~'') }}" alt="{{ photo.image }}"
                             style="width: 732px;height: auto">
                    </a>
                    <!--/.Carousel Wrapper-->
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Fermer
                    </button>
                    {% if getUserByPhoto(photo.id) != app.user.email %}
                    <div class="signa">
                        <button id="{{ photo.id }}" class="btn btn-primary signaler">
                            Signaler
                            <i class="fa fa-warning" aria-hidden="true"></i>
                        </button>
                    </div>
                    {% endif %}
                    <h1 class="h2-responsive product-name">
                        <strong>Nom de l'image: {{ photo.image }}</strong>
                    </h1>
                    <h2 class="h4-responsive">
                         <span class="green-text">
                              <strong>Description: {{ photo.description }}</strong>
                         </span>
                    </h2>
                    <h2 class="h4-responsive">
                        <span class="green-text">
                          <strong>Tag: {{ photo.tag.libelle }}</strong>
                         </span>
                    </h2>
                    <!-- commentaire -->
                    <div class="card-body scrollComent">
                        <div class="text-center">
                            <!-- commentaire-->
                            <div class="ibox border-bottom">
                                <div class="ibox-title">
                                    <h5>Commentaires</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="display: none;">
                                    <div class="feed-activity-list">
                                        <div id="newComent{{ photo.id }}">
                                            {% for commentaire in commentaireByTof(photo.id) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="float-right text-navy">{{ commentaire.datePosted| date('d-m-Y H:i:s') }}</small>
                                                        <strong>{{ commentaire.user.prenom ~' '~ commentaire.user.nom }}
                                                            :</strong>
                                                        <div>
                                                            {{ commentaire.message }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="social-footer">
                                            <div class="social-comment">
                                                <a href="" class="float-left">
                                                    <img src="{{ asset('images/profiles/'~app.user.image~'') }}"
                                                         alt="{{ app.user.image }}">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <textarea class="form-control"
                                                          placeholder="mettez votre commentaire ici..."
                                                          id="message_{{ photo.id }}">
                                                </textarea>
                                                <button class="btn btn-primary"
                                                        id="envoyer_{{ photo.id }}">Envoyer
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                            </div>
                            <!-- end commentaire-->
                        </div>
                    </div>
                    <!-- /.Add to Cart -->
                </div>
            </div>
        </div>
    </div>
</div>
               
