{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}

