{% extends 'inscription/index.html.twig' %}

{% block title %}S'inscrire dans Photothèque {% endblock %}

{% block body %}
<div class="card jumbotron ">
    {{ include('user/_form.html.twig') }}
</div>
{% endblock %}
