{% extends 'user/base.user.html.twig' %}

{% block body %}
    <div class="text-center">
        {% if resultat == 0 or resultat  == 1 %}
            <h2> {{ resultat }} résultat trouvé </h2>
        {% else %}
            <h2> {{ resultat }} résultats trouvés </h2>
        {% endif %}
        <div class="card text-center">
        
            <div class="card-body w-50 mx-auto">
                <div class="text-center">
                    {% if users is empty %}
                </div>
                <div class="container text-center">
                    Nous n'avons pas trouvé un utilisateur avec ce pseudo
                </div>
                {% else %}
                    {% for user in users %}
                        <div class="file-box">
                            <div class="file">
                                <a href="{{ path('profil_ami',{id: user.id}) }}">
                                    <img alt="image" class="img-fluid" src="../../images/profiles/{{ user.image }}">
                                    <h3 class="m-b-xs"><strong>{{ user.prenom ~' '~ user.nom }}</strong></h3>
                                    <div class="font-bold">Username: {{ user.pseudo }}</div>
                                </a>
                                <div class="contact-box-footer">
                                    <div class="m-t-xs btn-group">
                                        {% if ifAmi(app.user.email , user.id) == true %}
                                            <a href="{{ path('supprimer_ami',{id: user.id}) }}"
                                            class="btn btn-xs btn-danger" onclick="return confirm('Voulez-vous vraiment supprimé cette personne de votre liste d\'ami');">
                                                <i class=" fa fa-trash" style="background:red;"> </i>
                                                Suppimer Ami
                                            </a>
                                        {% else %}
                                            {% if ifInvite(app.user.email , user.id) == true %}
                                                <a href="{{ path('retirer_invitation',{id: user.id}) }}"
                                                class="btn btn-xs btn-danger" onclick="return confirm('Voulez-vous vraiment supprimé l\'invitation envoyer à cette personne !');">
                                                    <i class=" fa fa-trash" style="background:red;"> </i>
                                                    Retirer Invitation
                                                </a>
                                            {% else %}
                                                <a href="{{ path('invite_ami',{id: user.id}) }}" class="btn btn-xs btn-white">
                                                    <i class="fa fa-user-plus"></i>
                                                    Ajouter
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-footer justify-content-center">
                    <div class="pagination justify-content-center ">
                        {{ knp_pagination_render(users) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
